simple_live_app/.vscode/settings.json
simple_live_tv_app/.vscode/settings.json

# macOS Spotlight Search index file
*.DS_Store

# Android keystore files
*.jks
*.keystore

# Build artifacts
**/build/
simple_live_app/build/
simple_live_tv_app/build/

# IDE files
**/.idea/
**/.vscode/
*.swp
*.swo

# Flutter
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock